@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(31, 31, 50);
}

.container {
  max-width: 800px; /* Fixed max width for larger screens */
  width: 90%; /* Dynamic width for small-medium screens */
  margin: 5rem auto;
  color: white;
  padding: 1rem;
  font-family: 'Space Mono', monospace;
}

header {
  display: flex;
  justify-content: space-between;
}

header h3 {
  font-weight: 700;
  font-size: 24px;
}

header .theme-section {
  display: flex;
  gap: 1rem;
  font-weight: 400;
  align-items: center;
}

section {
  background-color: rgb(49, 49, 82);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.input-container {
  display: flex;
  align-items: center;
  background: transparent;
  flex: 1;
  gap: 1rem;
}

.input-container i {
  font-size: 20px;
  margin-left: 1rem;
}

.input-container input {
  background: transparent;
  color: white;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 1rem 0;
}

.input-container input::placeholder {
  color: white;
  opacity: 0.7;
}

section button {
  padding: 1rem;
  width: 8rem;
  border-radius: 0.5rem;
  background-color: rgb(63, 63, 245);
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.card {
  display: flex;
  background-color: rgb(49, 49, 82);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 2rem;
  opacity: 0;
}

.icon-section {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.icon-section #avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
  width: 80%;
  padding: 1rem;
  letter-spacing: 1.5px;
}

.heading {
  display: flex;
  /* gap: 8rem; */
  justify-content: space-between;
  align-items: center;
}

.bio {
  margin-top: 2rem;
}

.count {
  width: 100%;
  background-color: rgb(31, 31, 50);
  display: flex;
  justify-content: space-around;
  border-radius: 0.5rem;
  padding: 1.5rem 0.5rem;
  margin-top: 2rem;
  text-align: center;
}

.count .item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.count p {
  color: lightgray;
  font-size: 14px;
}

.count h4 {
  color: white;
  font-size: 18px;
}

.basic {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  gap: 6rem;
  width: 70%;
}

.social,
.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#location,
#twitter,
#bloglink,
#git {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  white-space: nowrap;
}

#git{
  gap: 1.2rem;
}

i {
  font-size: 1rem;
  vertical-align: middle;
}

#blog,
#twitterLink,
#gitLink {
  color: white;
  text-decoration: none;
}


body.light-theme {
  background-color: white;
}

body.light-theme header {
  color: rgb(31, 31, 50);
}

/* Responsive ui for small devices like mobile */

@media (min-width : 0) and (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 500px;
    margin: 2rem auto;
    padding: 0 1rem;
  }

  section button {
    width: 7rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1.5rem;
    gap: 1rem;
    align-items: center;
  }

  .info-section{
    width: 100%;
    align-items: center;
    margin-left: 0;
  }

  .icon-section #avatar{
    width: 80%;
    height: 20%;
  }

  .heading{
    flex-direction: column;
    gap: 1rem;
  }

  .bio {
    margin-top: 1rem;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #ccc;
  }

  .count{
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
  }

  .basic{
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  #location p,
  #twitter a,
  #blog a,
  #gitLink{
    font-size: 0.9rem;
  }
}
